<h4>{{ actionTitle | translate }}</h4>
<md-content layout-margin layout-padding flex="50">
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-header>
        <mat-card-title
          >{{ campaignName }}
          <caption *ngIf="id != '0'">
            <small> #{{ id }} </small>
          </caption>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content fxLayout="row" fxLayoutGap="5px">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'CAMPAIGN.NAME' | translate }}</mat-label>
          <input formControlName="name" matInput #inputCampaignName />
          <mat-icon
            *ngIf="reactiveForm.controls.name.valid && !campaignExists"
            matSuffix
            >done</mat-icon
          >
          <mat-hint class="error" *ngIf="campaignExists">
            {{ 'CAMPAIGN.EXISTS' | translate }}</mat-hint
          >
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'CAMPAIGN.ORIGIN' | translate }}</mat-label>
          <mat-select formControlName="origin">
            <!-- <mat-option value="1">Inbound</mat-option>
            <mat-option value="2">Outbound</mat-option></mat-select -->
            <mat-option *ngFor="let o of origin" [value]="o">
              {{ o == 1 ? 'Inbound' : 'Outbound' }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <!-- *ngIf="(id && editAccess) || (!id && createAccess)" -->

        <button mat-stroked-button type="button" (click)="onBack()">
          <mat-icon>list</mat-icon>{{ 'CAMPAIGN.BACK' | translate }}
        </button>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          *ngIf="editAccess"
          [disabled]="!reactiveForm.valid"
        >
          {{ actionName | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
  <!-- <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" *ngIf="editAccess">
      {{ actionName | translate }}
    </button>
  </div> -->
</md-content>
<div class="loading-indicator" [hidden]="!loading">
  <mat-progress-spinner [mode]="'indeterminate'"> </mat-progress-spinner>
</div>
<router-outlet></router-outlet>
