################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ReturnedChecks/v15
docs/*
/.vs
scripts/*
.vscode/*
