  .logo{
    margin-left: 8px;
    color: black!important
  }
 
  .z-depth-5 {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  }

  .z-depth-2 {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }

  .white-background {
    background-color: white;
  }

  .responsive {
    max-height: 80%;
    height: auto;
  }

.logo {
    width: 325px;
    height: 75px;
}

.yellow-background {
  background: #fdd835 !important;
}

mat-sidenav-content{
  padding: 20px;
  height: 88vh;
}

.nav-caption{
  display: inline-block;
  padding-left: 6px;
}
