<form
  fxLayout="column"
  fxLayoutAlign="center"
  class="full-width"
  [formGroup]="reactiveForm"
>
  <mat-form-field class="example-full-width">
    <mat-label>{{ 'CLIENTS.AGENCY' | translate }}</mat-label>

    <input
      type="text"
      placeholder="{{ 'CLIENTS.AGENCY' | translate }}"
      matInput
      [formControl]="reactiveForm.get('AgencyId')"
      [matAutocomplete]="agencyAutoComplete"
    />
    <mat-autocomplete
      autoActiveFirstOption
      [displayWith]="displayFnAgencies"
      #agencyAutoComplete="matAutocomplete"
    >
      <mat-option *ngFor="let ag of agencies" [value]="ag">
        {{ ag.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div
    fxLayout
    fxLayout.lt-md="column"
    fxLayoutGap="10px"
    fxLayoutAlign="center"
  >
    <mat-form-field fxFlex="75%" class="example-full-width">
      <mat-label>{{ 'CLIENTS.AMEDICALPLAN' | translate }}</mat-label>
      <input
        type="text"
        placeholder="{{ 'CLIENTS.AMEDICALPLAN' | translate }}"
        matInput
        [formControl]="healthPlan"
        [matAutocomplete]="healthPlanAutoComplete"
      />
      <mat-autocomplete
        (optionSelected)="loadCovers($event.option.value.id)"
        autoActiveFirstOption
        [displayWith]="displayFnMedicalPlan"
        #healthPlanAutoComplete="matAutocomplete"
      >
        <mat-option *ngFor="let plans of heathPlans" [value]="plans">
          {{ plans.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field fxFlex="75%">
      <mat-label>{{ 'CLIENTS.ACOVER' | translate }}</mat-label>
      <mat-select formControlName="CoverId">
        <mat-option *ngFor="let cover of covers" [value]="cover.id">
          {{ cover.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="75%">
      <mat-label>{{ 'CLIENTS.EFFECTIVEDATE' | translate }}</mat-label>
      <input
        [matDatepicker]="effectiveDatePiker"
        matInput
        formControlName="EffectiveDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="effectiveDatePiker"
      ></mat-datepicker-toggle>
      <mat-datepicker #effectiveDatePiker></mat-datepicker>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="flex-start">
    <div fxLayout="column">
      <mat-label>{{ 'CLIENTS.AUTORIZEDPERSON' | translate }}</mat-label>
      <mat-radio-group>
        <mat-radio-button value="1">{{
          'CLIENTS.PARTICIPANT' | translate
        }}</mat-radio-button>
        <mat-radio-button value="2">{{
          'CLIENTS.TUTOR' | translate
        }}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div fxLayout="column">
      <mat-label>{{ 'CLIENTS.HASMEDICARE' | translate }}</mat-label>
      <mat-radio-group>
        <mat-radio-button value="1">{{ 'YES' | translate }}</mat-radio-button>
        <mat-radio-button value="2">{{ 'NO' | translate }}</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</form>
