<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="this.wizardForms.clientDemographic">
    <app-client [fromWizard]="true"></app-client>
    <app-general-information></app-general-information>
    <app-client-address [fromWizard]="true"></app-client-address>
    <button
      [disabled]="wizardForms.clientDemographic.invalid"
      mat-raised-button
      (click)="preRegister()"
    >
      {{ 'CLIENTWIZARD.PREREGISTER' | translate }}
    </button>
    <button mat-button matStepperNext>
      {{ 'NEXT' | translate }}
    </button>
  </mat-step>
  <mat-step [stepControl]="this.wizardForms.secondFormGroup">
    <app-bona-fide-list [fromWizard]="true"></app-bona-fide-list>
    <button mat-button matStepperNext>
      {{ 'NEXT' | translate }}
    </button>
    <button (click)="register()" mat-button matStepperNext>
      {{ 'SAVE' | translate }}
    </button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
