<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="this.wizardForms.clientDemographic">
    <ng-template matStepLabel>{{
      'CLIENTWIZARD.GENERAL_INFORMATION' | translate
    }}</ng-template>
    <app-client [fromWizard]="true"></app-client>
    <app-general-information></app-general-information>
    <app-client-address [fromWizard]="true"></app-client-address>
    <button
      [disabled]="wizardForms.clientDemographic.invalid"
      mat-raised-button
      (click)="preRegister()"
    >
      {{ 'CLIENTWIZARD.PREREGISTER' | translate }}
    </button>
    <button
      class="button-space"
      mat-raised-button
      color="primary"
      matStepperNext
    >
      {{ 'NEXT' | translate }}
    </button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{
      'CLIENTWIZARD.BONAFIDES_ASSOCIATION' | translate
    }}</ng-template>
    <app-bona-fide-list [fromWizard]="true"></app-bona-fide-list>
    <button mat-raised-button color="primary" matStepperPrevious>
      {{ 'GOBACK' | translate }}
    </button>
    <button (click)="register()" mat-button matStepperNext>
      <mat-icon>save</mat-icon>
      {{ 'DEPENDANTS_LIST.SAVE' | translate }}
    </button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{
      'CLIENTWIZARD.ASSOCIATE_DEPENDATS' | translate
    }}</ng-template>
    <app-dependants-list [fromWizard]="true"></app-dependants-list>
    <button mat-raised-button color="primary" matStepperPrevious>
      {{ 'GOBACK' | translate }}
    </button>
    <button
      class="button-space"
      (click)="register()"
      mat-raised-button
      color="primary"
      matStepperNext
    >
      {{ 'FINISH' | translate }}
    </button>
  </mat-step>
</mat-horizontal-stepper>
