<div *ngIf="reactiveForm">
  <form class="form" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <md-content layout-margin layout-padding flex="50">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{
            chapterid
              ? ('CHAPTER.CHAPTEREDIT' | translate)
              : ('CHAPTER.CHAPTERCREATE' | translate)
          }}
          </mat-card-title>
          <mat-card-subtitle> {{ chapterid? '#'+chapterid : ''  }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="full-width">
            <mat-label>{{ 'CHAPTER.NAME' | translate }}</mat-label>
            <input matInput formControlName="Name" />
            <mat-hint class="error" *ngIf="reactiveForm.get('Name').status != 'VALID' && reactiveForm.touched"
              align="start">
              {{reactiveForm.get('Name')?.errors?.nameTaken? ('CHAPTER.TAKENNAME' | translate) : ('CHAPTER.REQUIRED' | translate)}}
            </mat-hint>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>{{ 'CHAPTER.QUOTA' | translate }}</mat-label>
            <input matInput formControlName="Quota" type="text" prefix="$" mask="separator.2" thousandSeparator="," />
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <!-- *ngIf="(chapterid && editAccess) || (!chapterid && createAccess)" -->
          <button mat-raised-button color="primary" type="submit" [disabled]="!reactiveForm.valid || Exists">
            <mat-icon>save</mat-icon>
            {{ chapterid ? ('CHAPTER.SAVE' | translate) : ('CHAPTER.CREATE' | translate) }}
          </button>
          <button type="button" mat-stroked-button type="button" (click)="onBack()">
            <mat-icon>list</mat-icon>{{ 'CHAPTER.GOBACK' | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </md-content>
  </form>
  <!-- loader.component.html -->
  <div class="loading-indicator" [hidden]="!loading">
    <mat-progress-spinner [mode]="'indeterminate'"> </mat-progress-spinner>
  </div>
</div>