<md-content
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutAlign="center center"
>
  <div fxLayout="row" fxLayoutAlign="center center" class="full-width">
    <form [formGroup]="form" class="full-width">
      <mat-card>
        <mat-card-header fxLayoutAlign="center" fxLayout="row">
          <mat-card-title>
            {{ 'NEW_TASK.TITLE' | translate }}
          </mat-card-title>

          <mat-card-subtitle>
            {{ 'FILE.TITLE' | translate }} {{ key }}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content fxLayout="column" class="element-detail">
          <mat-form-field class="full-width">
            <mat-label>{{ 'NEW_TASK.TASK_DESCRIPTION' | translate }}</mat-label>
            <textarea
              rows="5"
              formControlName="details"
              matInput
              placeholder=""
            ></textarea>
          </mat-form-field>

          <mat-form-field>
            <mat-chip-list #chipList aria-label="">
              <mat-chip
                *ngFor="let type of types"
                [selectable]="selectable"
                [removable]="true"
                (removed)="remove(type)"
              >
                {{ type.name }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="{{ 'NEW_TASK.DOCUMENT_TYPE' | translate }}"
                #typeInput
                [formControl]="typeCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"
              />
            </mat-chip-list>
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selected($event)"
            >
              <mat-option
                *ngFor="let type of filteredTypes | async"
                [value]="type"
              >
                {{ type.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <!-- <mat-form-field class="full-width">
            <mat-slide-toggle formControlName="eSign">{{ 'NEW_TASK.SIGNING' | translate }}</mat-slide-toggle>
            <input matInput #value hidden formControlName="eSign" />
          </mat-form-field> -->

          <mat-label>{{ 'NEW_TASK.TEMPLATE' | translate }}</mat-label>
          <input
            type="file"
            accept="application/pdf"
            (change)="onSelectFile($event)"
          />
        </mat-card-content>

        <mat-card-actions fxLayout="column" fxLayoutGap="12px">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            class="full-width"
            [disabled]="form.invalid"
            (click)="onSubmit()"
          >
            <fa-icon [icon]="faPaperPlane"></fa-icon>
            {{ 'SEND_BTN' | translate }}
          </button>

          <button mat-button color="warn" (click)="onNoClick()">
            {{ 'CLOSE_BTN' | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>

  <div class="loading-indicator" [hidden]="!loading">
    <mat-progress-spinner [mode]="'indeterminate'"> </mat-progress-spinner>
  </div>
</md-content>
