table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  .marging-left {
    margin-left: 8px;
  }

  .search-form{
    margin-top: 25px !important;
  }

  .mat-row:hover {
    background-color: #F5F5F5 !important;
    cursor: pointer !important;
  }