<div *ngIf="reactiveForm">
  <form class="form" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <md-content layout-margin layout-padding flex="50">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{
            id
              ? ('AGENCY.AGENCYEDIT' | translate) + ': ' + agency
              : ('AGENCY.AGENCYCREATE' | translate)
          }}
          </mat-card-title>
          <mat-card-subtitle> {{ id? '# '+id:'' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="full-width">
            <mat-label>{{ 'AGENCY.NAME' | translate }}</mat-label>
            <input matInput formControlName="Name" />
            <mat-hint *ngIf="reactiveForm.get('Name').status != 'VALID' && reactiveForm.get('Name').touched"
              align="start">
              {{reactiveForm.get('Name')?.errors?.nameTaken? ('BONAFIDE.TAKENNAME' | translate) : ('REQUIRED' | translate)}}
            </mat-hint>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <!-- *ngIf="(id && editAccess) || (!id && createAccess)" -->
          <button mat-raised-button color="primary" type="submit" [disabled]="!reactiveForm.valid">
            <mat-icon>save</mat-icon>
            {{ id ? ('AGENCY.SAVE' | translate) : ('AGENCY.CREATE' | translate) }}
          </button>
          <button mat-stroked-button type="button" (click)="onBack()">
            <mat-icon>list</mat-icon>{{ 'AGENCY.GOBACK' | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </md-content>
  </form>
  <!-- loader.component.html -->
  <div class="loading-indicator" [hidden]="!loading">
    <mat-progress-spinner [mode]="'indeterminate'"> </mat-progress-spinner>
  </div>
</div>