.width-with-space {
  width: 90%;
}
.full-width {
  width: 100%;
}

.form-padding {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.margin-top-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-area-height {
  height: 100px;
  resize: none;
}
