<md-content layout-margin layout-padding flex="50">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{
        'DOCUMENT_TYPE_LIST.PAGE_TITLE' | translate
      }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout fxLayoutAlign="end start">
        <button type="button" mat-raised-button color="primary" (click)="goToNew()" *ngIf="createAccess">
          <mat-icon>add</mat-icon>
          {{ 'DOCUMENT_TYPE_LIST.ADD_BTN' | translate }}
        </button>
      </div>

      <div fxLayout>

        <mat-form-field class="search-form">
          <input matInput placeholder="{{ 'DOCUMENT_TYPE_LIST.GENERAL_FILTER' | translate }}" type="text"
            (keyup)="doFilter($event.target.value)" />
        </mat-form-field>

        <!-- <mat-form-field class="search-form marging-left">
          <mat-label>{{ 'DOCUMENT_TYPE_LIST.STATUS' | translate }}</mat-label>
          <mat-select (selectionChange)="doFilter($event.value)">
            <mat-option value="1">
              {{ 'DOCUMENT_TYPE_LIST.ACTIVE' | translate }}
            </mat-option>
            <mat-option value="0">
              {{ 'DOCUMENT_TYPE_LIST.INACTIVE' | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

        <!-- <button button="submit" mat-raised-button color="primary">Buscar</button> -->
      </div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="name">
            {{ 'DOCUMENT_TYPE_LIST.NAME' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="delFlag">
            {{ 'USER_LIST.STATUS' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-chip-list>
              <mat-chip color="primary" selected *ngIf="!element.delFlag">{{
                'DOCUMENT_TYPE_LIST.ACTIVE' | translate
              }}</mat-chip>
              <mat-chip color="warn" selected *ngIf="element.delFlag">{{
                'DOCUMENT_TYPE_LIST.INACTIVE' | translate
              }}</mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>

        <!-- CreatedDt Column -->
        <ng-container matColumnDef="createdDt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="createdDt">
            {{ 'DOCUMENT_TYPE_LIST.CREATRED_DATE' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.createDt | amCalendar: nextDay }}
          </td>
        </ng-container>

        <!-- updDt Column -->
        <ng-container matColumnDef="updDt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="updDt">
            {{ 'DOCUMENT_TYPE_LIST.UPDATED_DATE' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.updDt | amCalendar: nextDay }}
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="goToDetail(element.id)" *ngIf="editAccess">
              <mat-icon>edit</mat-icon>
              {{ 'DOCUMENT_TYPE_LIST.EDIT_BTN' | translate }}
            </button>
          </td>
        </ng-container>

        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
      </mat-paginator>
    </mat-card-actions>
  </mat-card>
</md-content>

<!-- loader.component.html -->
<div class="loading-indicator" [hidden]="!loading">
  <mat-progress-spinner [mode]="'indeterminate'"> </mat-progress-spinner>
</div>
