.mat-card {
  padding: 5px;
  margin: 5px;
  background-color: transparent;
  width: 98%;
  display: inline-block;
}
.avatarImage {
  background-image: url('../../../call18dp.svg');
  background-size: cover;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

:host ::ng-deep mat-expansion-panel-header .ng-tns-c134-6 {
  display: inline-block !important;
}
:host ::ng-deep mat-card-header .mat-card-header-text {
  margin: 0px !important;
}
.mat-card-content {
  word-break: break-all !important;
}
