.form {
    /* min-width: 150px;
    max-width: 500px;
    width: 100%; */
  
  }

  table {
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }

  .half-width {
    width: 50%;
  }
  
  td {
    padding-right: 8px;
  }

  .doc {
    padding: 8px;
  }
  
  .margin-top-10{
    margin-top: 10px;
  }

  tr.detail-row {
    height: 0;
  }
  
  tr.element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .element-row td {
    border-bottom-width: 0;
  }
  
  .element-detail {
    overflow: hidden;
    display: flex;
    margin-bottom: 8px;
  }
  
  .element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .element-description {
    padding: 16px;
  }
  
  .element-description-attribution {
    opacity: 0.5;
  }
  
  .element-diagram {
    min-width: 80px;
    /* border: 2px solid black; */
    padding: 8px;
    font-weight: lighter;
    margin: 8px;
    height: 130px;
  }
  
  /* Column Widths */
  .mat-column-attachment {
    max-width: 24px;
  }
  
  .mat-column-name {
    max-width: 100px;
  }
  
  .mat-column-date {
    max-width: 124px;
  }


  .doc-icon{
    color: rgba(0, 0, 0, 0.54);
  }

  .mat-column-icon {
    width: 70px;
    color: rgba(0, 0, 0, 0.54);
}

.mat-row:hover {
  background-color: #F5F5F5 !important;
  cursor: pointer !important;
}