<div class="center-button">
  <button
    class="space-arround"
    color="primary"
    mat-stroked-button
    (click)="convertToPdf()"
  >
    Print
  </button>
  <button color="warn" mat-stroked-button (click)="close()">Close</button>
</div>
<div class="header"></div>
<div id="pdfContent" class="body">
  <div class="col-12 box">
    <table cellpadding="0" style="width: 100%" cellspacing="0" border="1">
      <tr>
        <td colspan="6" style="border: 0"></td>
        <td colspan="14" style="border: 0">
          <div class="inline-field">
            <input
              disabled
              type="checkbox"
              [checked]="alliance.affType == 1"
            /><label style="font-weight: bold; font-size: 10" for="checkbox"
              >Ingreso Nuevo</label
            >
            <input disabled type="checkbox" [checked]="alliance.affType == 2" />
            <label style="font-weight: bold; font-size: 10" for="checkbox"
              >Renovación</label
            >
            <input disabled type="checkbox" [checked]="alliance.affType == 3" />
            <label style="font-weight: bold; font-size: 10" for="checkbox">
              Mancomunado</label
            >
          </div>
        </td>
        <td colspan="3" style="border: 0"></td>
      </tr>
      <tr>
        <!-- TODO: HERE GOSE THE LOGO -->
        <td colspan="7" style="border: 0">
          <img
            style="max-width: 100; max-height: 100"
            src=" asset'dist/img/logo_menonita.png' "
            alt=""
          />
        </td>
        <td colspan="16" style="font-weight: bold; border: 0">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
            style="font-weight: bold; font-size: 15"
            >Plan de Salud Menonita</span
          ><br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
            style="font-weight: bold; font-size: 14"
            >Solicitud de Ingreso {{ alliance.id }}
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="text-align: center">
          <span class="bold-title">Numero Grupo</span>
        </td>
        <td colspan="4" style="border-bottom: 0">
          <div class="inline-field">
            <input
              type="checkbox"
              id="checkbox"
              disabled
              [checked]="alliance.joint == 0"
            />
            <label class="bold-title" for="checkbox">Individual</label>
          </div>
        </td>
        <td colspan="10" style="padding-left: 4px">
          <span class="bold-title">Producto: </span>&nbsp;
          {{ alliance.healthPlan.name }}
        </td>
        <td colspan="6" style="padding-left: 4px">
          <span class="bold-title">PSM:</span> {{ alliance.cover.name }}
        </td>
      </tr>
      <tr>
        <td colspan="3" style="border: 0">&nbsp;</td>
        <td colspan="4" style="border-bottom: 0; border-top: 0">
          <div class="inline-field">
            <input
              type="checkbox"
              id="checkbox"
              disabled
              [checked]="alliance.joint > 0"
            />
            <label class="bold-title" for="checkbox">Pareja</label>
          </div>
        </td>
        <td rowspan="2" style="text-align: center; border: 0">
          <span class="bold-title">Cubiertas:</span>
        </td>
        <td colspan="12" style="border: 0">
          <div class="inline-field">
            <input type="checkbox" disabled id="checkbox" />
            <label class="bold-title" for="checkbox">Ley 95</label>
            <input type="checkbox" disabled id="checkbox" />
            <label class="bold-title" for="checkbox">Ley 63</label>
            <input type="checkbox" disabled id="checkbox" />
            <label class="bold-title" for="checkbox">Ley 43</label>
            <input type="checkbox" disabled id="checkbox" [checked]="true" />
            <label class="bold-title" for="checkbox">Ley 117</label>
            <input type="checkbox" disabled id="checkbox" />
            <label class="bold-title" for="checkbox">Complementario</label>
          </div>
        </td>
        <td
          colspan="2"
          style="border-bottom: 0; padding-left: 15px; text-align: center"
        >
          <span class="bold-title">Edad</span>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="border: 0">&nbsp;</td>
        <td colspan="4" style="border-top: 0">
          <div class="inline-field">
            <input
              type="checkbox"
              id="checkbox"
              disabled
              [checked]="alliance.joint == 1"
            />
            <label class="bold-title" for="checkbox">Familiar</label>
          </div>
        </td>
        <td colspan="12" style="border: 0">
          <div class="inline-field">
            <input type="checkbox" id="checkbox" disabled />
            <label class="bold-title" for="checkbox">Vision</label>
            <input type="checkbox" id="checkbox" disabled />
            <label class="bold-title" for="checkbox">MM</label>
            <input type="checkbox" id="checkbox" disabled />
            <label class="bold-title" for="checkbox">S Vida</label>
            <input type="checkbox" id="checkbox" disabled />
            <label class="bold-title" for="checkbox">Farmacia</label>
            <input type="checkbox" id="checkbox" disabled />
            <label class="bold-title" for="checkbox">Dental</label>
          </div>
        </td>
        <td
          colspan="4"
          style="text-align: center; border-top: 0; padding-left: 10px"
        >
          {{ getAge(alliance.client.birthDate) }}
        </td>
      </tr>
      <tr>
        <td colspan="4" style="text-align: center; height: 20px">
          <span class="bold-title">Numero de División</span>
        </td>
        <td colspan="12">
          <span class="bold-title"
            >&nbsp;&nbsp;Apellido Paterno &nbsp;&nbsp;/ &nbsp;&nbsp;Apellido
            Materno&nbsp;&nbsp;/&nbsp;&nbsp;Nombre&nbsp;&nbsp;/&nbsp;&nbsp;Inicial</span
          >
        </td>
        <td colspan="4" style="text-align: center">
          <span class="bold-title">Estado Civil</span>
        </td>
        <td colspan="3" style="text-align: center">
          <span class="bold-title">Sexo</span>
        </td>
      </tr>
      <tr>
        <td colspan="4" style="height: 30px"></td>
        <td colspan="12" style="padding-left: 10px">
          {{ alliance.client.lastName1 }} {{ alliance.client.lastName2 }}
          {{ alliance.client.name }} {{ alliance.client.initial }}
        </td>
        <td colspan="4" style="padding-left: 25px">
          <div class="inline-field">
            <input
              type="checkbox"
              id="checkbox"
              disabled
              [checked]="alliance.client.maritalStatus == 1"
            />
            <label class="bold-title" for="checkbox">C</label>
            <input
              type="checkbox"
              id="checkbox"
              disabled
              [checked]="alliance.client.maritalStatus == 2"
            />
            <label class="bold-title" for="checkbox">S</label>
            <input
              type="checkbox"
              id="checkbox"
              disabled
              [checked]="alliance.client.maritalStatus == 3"
            />
            <label class="bold-title" for="checkbox">Coh</label>
          </div>
        </td>
        <td colspan="3">
          <div class="inline-field">
            <input
              type="checkbox"
              id="checkbox"
              disabled
              [checked]="alliance.client.gender == 1"
            />
            <label class="bold-title" for="checkbox">M</label>
            <input
              type="checkbox"
              id="checkbox"
              disabled
              [checked]="alliance.client.gender == 2"
            />
            <label class="bold-title" for="checkbox">F</label>
          </div>
        </td>
      </tr>
      <tr style="height: 20">
        <td colspan="4" style="text-align: center">
          <span class="bold-title">Efectividad</span>
        </td>
        <td colspan="4" style="text-align: center">
          <span class="bold-title">Seguro Social</span>
        </td>
        <td colspan="5" style="text-align: center">
          <span class="bold-title">Fecha De Nacimiento </span>
        </td>
        <td colspan="10" style="text-align: left; padding: 2px">
          <span
            ><span class="bold-title">Celular:</span>
            {{ alliance.client.phone2 }}</span
          >
        </td>
      </tr>
      <tr style="height: 20">
        <td colspan="4" style="text-align: center; border: 0">
          <span class="bold-title">Mes Dia Año</span>
        </td>
        <td colspan="4" rowspan="2" style="text-align: center">
          {{ alliance.client.ssn }}
        </td>
        <td colspan="5" style="text-align: center; border: 0">
          <span class="bold-title">Mes / Dia / Año</span>
        </td>
        <td colspan="10" style="text-align: left; padding: 2px">
          <span class="bold-title">Tel:</span> {{ alliance.client.phone1 }}
        </td>
      </tr>
      <tr style="height: 20">
        <td colspan="4" style="text-align: center; border: 0">
          <span>{{ alliance.effectiveDate | date: 'shortDate' }} </span>
        </td>
        <td colspan="5" style="text-align: center; border: 0">
          <span>{{ alliance.client.birthDate | date: 'shortDate' }} </span>
        </td>
        <td colspan="10" style="text-align: left; padding: 2px">
          <span style="font-weight: bold">Email: </span
          >{{ alliance.client.email }}
        </td>
      </tr>
      <tr>
        <td colspan="4" style="text-align: center; height: 13">
          <span class="bold-title">Vencimiento</span>
        </td>
        <td
          colspan="2"
          rowspan="3"
          style="text-align: right; border-right: 0px"
        >
          <span class="bold-title"
            >Direccion: <br />
            Postal:</span
          >
        </td>
        <td colspan="17" style="border-left: 0px; padding-left: 10px">
          {{ alliance?.clientAddressses[0]?.line1 }}
          {{ alliance?.clientAddressses[0]?.line2 }}
          <!-- >addresses->first->full_address['line_1']
          @if>addresses->first->full_address['line_2'] != ""
          >addresses->first->full_address['line_2'] @endif
          >addresses->first->full_address['line_3'] -->
        </td>
      </tr>
      <tr style="height: 20">
        <td colspan="4" style="text-align: center; border: 0">
          <span class="bold-title">Mes Dia Año</span>
        </td>
        <td colspan="19" style="border-left: 0px; padding-left: 10px">
          {{ alliance?.clientAddressses[1]?.line1 }}
          {{ alliance?.clientAddressses[1]?.line2 }}
        </td>
      </tr>
      <tr style="height: 20">
        <td colspan="4" style="text-align: center; border: 0">
          <span>
            {{ alliance.endDate | date: 'shortDate' }}
          </span>
        </td>
        <td colspan="19" style="border-left: 0px"></td>
      </tr>
      <tr style="height: 20">
        <td colspan="5" style="text-align: center; height: 14">
          <span class="bold-title">Agencia o Municipio</span>
        </td>
        <td colspan="4" style="text-align: center">
          <span class="bold-title">Puesto</span>
        </td>
        <td colspan="7" style="text-align: center">
          <span class="bold-title">Pueblo del Trabajo</span>
        </td>
        <td colspan="7" style="text-align: center">
          <span class="bold-title">Clasificacion</span>
        </td>
      </tr>
      <tr style="height: 20">
        <td colspan="5" style="text-align: center; height: 14">
          <span>{{ alliance.client.agency.name }}</span>
        </td>
        <td colspan="4" style="text-align: center"><span>&nbsp;</span></td>
        <td colspan="7" style="text-align: center">
          <span> {{ alliance?.clientAddressses[0]?.city }}</span>
        </td>
        <td colspan="7" style="text-align: center"><span>&nbsp;</span></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center; border: 0">
          <span class="bold-title">Estatus: </span>
        </td>
        <td colspan="3" style="text-align: center; border: 0">
          <div class="inline-field">
            <input type="checkbox" id="checkbox" disabled /><label
              class="bold-title"
              for="checkbox"
              >Regular</label
            >
          </div>
        </td>
        <td colspan="3" style="text-align: center; border: 0">
          <div class="inline-field">
            <input type="checkbox" id="checkbox" disabled /><label
              class="bold-title"
              for="checkbox"
              >Probatorio</label
            >
          </div>
        </td>
        <td colspan="7" style="text-align: center; border: 0">
          <div class="inline-field">
            <input type="checkbox" id="checkbox" disabled /><label
              class="bold-title"
              for="checkbox"
              >Transitorio mas de 6 meses</label
            >
          </div>
        </td>
        <td colspan="8" style="text-align: center; border: 0">
          <div class="inline-field">
            <input type="checkbox" id="checkbox" disabled /><label
              class="bold-title"
              for="checkbox"
              >Transitorio menos de 6 meses</label
            >
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="7" style="text-align: center; border-right: 0">
          <span class="bold-title">¿Tiene usted otro plan medico?</span>
        </td>
        <td
          colspan="2"
          style="
            text-align: center;
            border-right: 0;
            border-left: 0;
            padding-top: 4px;
          "
        >
          <div class="inline-field">
            <input
              type="checkbox"
              id="checkbox"
              disabled
              [checked]="alliance.coverId != 50"
            /><label class="bold-title" for="checkbox">Si</label>
          </div>
        </td>
        <td
          colspan="2"
          style="text-align: center; border-right: 0; border-left: 0"
        >
          <div class="inline-field">
            <input
              type="checkbox"
              id="checkbox"
              disabled
              [checked]="alliance.coverId == 50"
            /><label class="bold-title" for="checkbox">No</label>
          </div>
        </td>
        <td
          colspan="4"
          style="text-align: left; border-right: 0; border-left: 0"
        >
          <span class="bold-title">Indique cual:</span>
        </td>
        <td
          colspan="8"
          style="text-align: left; border-right: 0; border-left: 0"
        >
          {{ alliance.cover.name }}
        </td>
      </tr>
      <tr>
        <td
          colspan="23"
          style="
            text-align: center;
            height: 15;
            background: #006400;
            color: #fff;
          "
        >
          <span class="bold-title"
            >Plan Mancomunado: Si aplica, favor de completar información sobre
            el cónyuge o cohabitante</span
          >
        </td>
      </tr>
      <tr>
        <td colspan="11" style="text-align: center; border-bottom: 0">
          <span class="bold-title">Nombre del cónyuge o Cohabitante:</span
          >&nbsp;
        </td>
        <td colspan="7" style="text-align: center; border-bottom: 0">
          <span class="bold-title">Fecha de Nacimiento Mes/Dia/Año </span>&nbsp;
        </td>
        <td colspan="5" style="text-align: center; border-bottom: 0">
          <span class="bold-title">Seguro Social</span>&nbsp;
        </td>
      </tr>
      <tr>
        <td colspan="11" style="text-align: center; border-top: 0">
          {{ getDependantTypeOne(alliance.cLientDependents)?.name }}
          {{ getDependantTypeOne(alliance.cLientDependents)?.lastName1 }}
          {{ getDependantTypeOne(alliance.cLientDependents)?.lastName2 }}
        </td>
        <td colspan="7" style="text-align: center; border-top: 0">
          {{
            getDependantTypeOne(alliance.cLientDependents)?.birthDate
              | date: 'shortDate'
          }}
        </td>
        <td colspan="5" style="text-align: center; border-top: 0">
          ***-**-{{
            getDependantTypeOne(alliance.cLientDependents)?.ssn.substr(5, 9)
          }}
        </td>
      </tr>
      <tr>
        <td colspan="5" style="text-align: center; border-bottom: 0">
          <span class="bold-title">Agencia o Municipio</span>
        </td>
        <td
          colspan="4"
          style="text-align: center; border-bottom: 0; padding-left: 10px"
        >
          <div class="inline-field">
            <label class="bold-title">Ley&nbsp;</label>
            <input type="checkbox" id="checkbox" disabled /><label
              class="bold-title"
              for="checkbox"
              >95</label
            >
            <input type="checkbox" id="checkbox" disabled /><label
              class="bold-title"
              for="checkbox"
              >63</label
            >
            <input
              type="checkbox"
              id="checkbox"
              disabled
              [checked]="true"
            /><label class="bold-title" for="checkbox">117</label>
          </div>
        </td>
        <td colspan="3" style="text-align: center; border-bottom: 0">
          <span class="bold-title"># Grupo</span>
        </td>
        <td colspan="3" style="text-align: center; border-bottom: 0">
          <span class="bold-title">Aportacion Patronal</span>
        </td>
        <td colspan="8" style="text-align: center; border-bottom: 0">
          <span class="bold-title">Pueblo de Trabajo:</span>
        </td>
      </tr>
      <tr>
        <td colspan="5" style="text-align: center; border-top: 0">
          {{
            getDependantTypeOne(alliance.cLientDependents)?.agencyId
          }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
            getDependantTypeOne(alliance.cLientDependents)?.agency.name
          }}
        </td>
        <td
          colspan="4"
          style="text-align: left; border-top: 0; padding-left: 10px"
        >
          <span class="bold-title">Otro:</span>
        </td>
        <td colspan="3" style="text-align: center; border-top: 0"></td>
        <td colspan="3" style="text-align: center; border-top: 0">
          {{ alliance.client.contribution }}
        </td>
        <td colspan="8" style="text-align: center; border-top: 0">
          {{ getDependantTypeOne(alliance.cLientDependents)?.city.name }}
        </td>
      </tr>
      <tr>
        <td
          colspan="23"
          style="
            text-align: center;
            height: 15;
            background: #006400;
            color: #fff;
          "
        >
          <span class="bold-title">Dependientes Directos</span>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="text-align: center">
          <span class="bold-title">Parentesco</span>
        </td>
        <td colspan="11" style="text-align: center">
          <span class="bold-title"
            >Apellido Paterno / Apellido Materno / Nombre / Inicial</span
          >
        </td>
        <td colspan="3" style="text-align: center">
          <span class="bold-title">Seguro Social</span>
        </td>
        <td colspan="2" style="text-align: center">
          <span class="bold-title">Fecha de Nacimiento Mes/Dia/Año</span>
        </td>
        <td colspan="4" style="text-align: center">
          <span class="bold-title">Sexo</span>
        </td>
      </tr>
      <tr *ngFor="let dependent of alliance.client.dependents">
        <td colspan="3" style="text-align: center">
          {{ getRelation(dependent) }}
          <!-- @if>relationship == 1 Cónyuge @elseif>relationship == 2 Hijo/a
          @elseif>relationship == 3 Hijastro/a @elseif>relationship == 4
          Adoptivo/a @endif -->
        </td>
        <td colspan="11" style="text-align: center">
          {{ dependent.name }}
        </td>
        <td colspan="3" style="text-align: center">
          ***-**-{{ dependent.ssn.substr(5, 9) }}
        </td>
        <td colspan="2" style="text-align: center">
          {{ dependent.birthDate | date: 'shortDate' }}
        </td>
        <td colspan="4" style="padding-left: 10px">
          <div class="inline-field">
            <input
              type="checkbox"
              id="checkbox"
              disabled
              [checked]="dependent?.gender == 1"
            /><label for="checkbox">M</label>
            <input
              type="checkbox"
              id="checkbox"
              disabled
              [checked]="dependent?.gender == 2"
            /><label for="checkbox">F</label>
          </div>
        </td>
      </tr>
      <!-- <tr>
        <td colspan="3"></td>
        <td colspan="11"></td>
        <td colspan="3"></td>
        <td colspan="2"></td>
        <td colspan="4" style="padding-left: 10px">
          <div class="inline-field">
            <input type="checkbox" id="checkbox" disabled /><label
              for="checkbox"
              >M</label
            >
            <input type="checkbox" id="checkbox" disabled /><label
              for="checkbox"
              >F</label
            >
          </div>
        </td>
      </tr> -->
      <tr>
        <td
          colspan="23"
          style="
            text-align: center;
            height: 15;
            background: #006400;
            color: #fff;
          "
        >
          <span class="bold-title"
            >Si usted o su cónyuge tiene medicare favor acompañar
            evidencia</span
          >
        </td>
      </tr>
      <tr>
        <td colspan="5" style="border-right: 0; padding-left: 10px">
          <span class="bold-title">Usted</span>
        </td>
        <td
          colspan="3"
          style="border-right: 0; border-left: 0; padding-left: 15px"
        >
          <span class="bold-title">Forma parte A</span>
        </td>
        <td colspan="1" style="border-right: 0; border-left: 0">/</td>
        <td colspan="1" style="border-right: 0; border-left: 0">/</td>
        <td colspan="3" style="border-right: 0; border-left: 0">
          <span class="bold-title">Forma parte B</span>
        </td>
        <td colspan="1" style="border-left: 0; border-right: 0">/</td>
        <td colspan="1" style="border-left: 0; border-right: 0">/</td>
        <td colspan="9" style="padding-left: 10px">
          <span class="bold-title">HIC Number</span>
        </td>
      </tr>
      <tr>
        <td colspan="5" style="border-right: 0; padding-left: 10px">
          <span class="bold-title">cónyuge</span>
        </td>
        <td
          colspan="3"
          style="border-right: 0; border-left: 0; padding-left: 15px"
        >
          <span class="bold-title">Forma parte A</span>
        </td>
        <td colspan="1" style="border-right: 0; border-left: 0">/</td>
        <td colspan="1" style="border-right: 0; border-left: 0">/</td>
        <td colspan="3" style="border-right: 0; border-left: 0">
          <span class="bold-title">Forma parte B</span>
        </td>
        <td colspan="1" style="border-left: 0; border-right: 0">/</td>
        <td colspan="1" style="border-left: 0; border-right: 0">/</td>
        <td colspan="9" style="padding-left: 10px">
          <span class="bold-title">HIC Number</span>
        </td>
      </tr>
      <tr>
        <td
          colspan="5"
          style="
            text-align: center;
            height: 15;
            background: #006400;
            color: #fff;
          "
        >
          <span class="bold-title">Cómputo de Prima</span>
        </td>
        <td
          colspan="3"
          style="
            text-align: center;
            height: 15;
            background: #006400;
            color: #fff;
          "
        >
          <span class="bold-title">Tarifas</span>
        </td>
        <td
          colspan="15"
          style="
            text-align: center;
            height: 15;
            background: #006400;
            color: #fff;
          "
        >
          <span class="bold-title">He sido orientado de:</span>
        </td>
      </tr>
      <tr>
        <td colspan="5" style="padding-left: 4px">
          <span class="bold-title">Cubierta seleccionada</span>
        </td>
        <td colspan="3" style="padding-right: 4px; text-align: right">
          <span>
            <!-- $ number_format>cover_amount,2 -->
            {{ alliance.coverAmount }}
          </span>
        </td>
        <td colspan="15" rowspan="2" style="padding-left: 4px; border: 0">
          <span class="bold-title">Cubierta: </span>
          <span>{{ alliance.cover?.healthPlan?.name }}</span>
        </td>
      </tr>
      <tr>
        <td colspan="5" style="padding-left: 4px">
          <span class="bold-title">Major Medical</span>
        </td>
        <td colspan="3" style="padding-right: 4px; text-align: right">
          <span>
            <!-- $ number_format>major_medical_amount,2  -->
            {{ alliance.majorMedicalAmount }}
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="5" style="padding-left: 4px">
          <span class="bold-title">Visión</span>
        </td>
        <td colspan="3" style="padding-right: 4px; text-align: right">
          <span>$0.00</span>
        </td>
        <td colspan="15" rowspan="5" style="padding-left: 4px; border: 0">
          <!-- <div class="inline-field">
            <input type="checkbox" id="checkbox" disabled [checked]="true" /><label
              class="bold-title"
              for="checkbox"
              >Farmacia; beneficio maximo y coaseguro despues del exceso en
              cubierta.</label
            >
            <br />
            <input type="checkbox" id="checkbox" disabled /><label
              class="bold-title"
              for="checkbox"
              >Seguro de Vida</label
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="checkbox" id="checkbox" disabled /><label
              class="bold-title"
              for="checkbox"
              >Major Medical</label
            >
            <br />
            <input type="checkbox" id="checkbox" disabled /><label
              class="bold-title"
              for="checkbox"
              >Transplante de Organos</label
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="checkbox" id="checkbox" disabled /><label
              class="bold-title"
              for="checkbox"
              >Cubierta Dental</label
            ><br />
            <input type="checkbox" id="checkbox" disabled /><label
              class="bold-title"
              for="checkbox"
              >Proceso para solicitar reembolso</label
            >
          </div> -->
          <div class="inline-field">
            <div *ngFor="let addon of alliance.availableAddons">
              <input
                type="checkbox"
                id="checkbox"
                disabled
                [checked]="addonInclueded(addon)"
              /><label class="bold-title" for="checkbox">{{
                addon.name
              }}</label>
              <br />
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="5" style="padding-left: 4px">
          <span class="bold-title">Dental</span>
        </td>
        <td colspan="3" style="padding-right: 4px; text-align: right">
          <span>$0.00</span>
        </td>
      </tr>
      <tr>
        <td colspan="5" style="padding-left: 4px">
          <span class="bold-title">Seguro de Vida</span>
        </td>
        <td colspan="3" style="padding-right: 4px; text-align: right">
          <span>
            <!-- $ number_format>life_insurance_amount,2  -->
            {{ alliance.lifeInsuranceAmount }}
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="5" style="padding-left: 4px">
          <span class="bold-title">Total:</span>
        </td>
        <td colspan="3" style="padding-right: 4px; text-align: right">
          <span>
            <!-- $ number_format>sub_total,2 -->
            {{ alliance.subTotoal }}
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="5" style="padding-right: 4px; text-align: right">
          <span class="bold-title">Menos Aportacion Patronal</span>
        </td>
        <td colspan="3" style="padding-right: 4px; text-align: right">
          <span>$ {{ alliance.contribution }} </span>
        </td>
      </tr>
      <tr>
        <td colspan="5" style="padding-right: 4px; text-align: right">
          <span class="bold-title">Menos Aportacion Mancomunado</span>
        </td>
        <td colspan="3" style="padding-right: 4px; text-align: right">
          <span>$ {{ alliance.joint }} </span>
        </td>
        <td colspan="12" style="border: 0"></td>
      </tr>
      <tr>
        <td colspan="5" style="padding-left: 4px">
          <span class="bold-title">Aportacion del empleado</span>
        </td>
        <td colspan="3" style="padding-right: 4px; text-align: right">
          <span>$ {{ alliance.prima }} </span>
        </td>
        <td colspan="12" style="border: 0"></td>
      </tr>
      <tr>
        <td colspan="23" style="padding-left: 4px">
          <p style="font-weight: bold">
            Certifico que la información en esta solicitud es correcta y
            autorizo a PSM a obtener o facilitar a mis proveedores o agencias
            ontratadas, la información necesaria para la administración del Plan
            Médico. Autorizo además, la divulgación de la información médica de
            ser necesario, según conforme a lo establecido por Ley HIPAA.
            Entiendo claramente que esta solicitud y los servicios provistos
            bajo el Plan Médico están sujetos a los beneficios, limitaciones y
            exclusiones descritos en la Guía del Suscriptor.
          </p>
        </td>
      </tr>
      <tr>
        <td
          colspan="18"
          style="padding-left: 4px; font-weight: bold; border: 0"
        >
          <label
            >Certifico estar de acuerdo con toda la información incluída en esta
            solicitud.</label
          >
        </td>
        <td
          colspan="5"
          style="
            padding-right: 4px;
            text-align: right;
            font-weight: bold;
            border: 0;
          "
        >
          *Ver al dorso
        </td>
      </tr>
      <tr>
        <td colspan="3" style="height: 16; border: 0"></td>
        <td colspan="8" style="height: 16; border: 0; text-align: center">
          <!-- @if isset>users->first->pivot->confirmation_number
          >users->first->pivot->confirmation_number @endif -->
          {{ alliance.clientUser[0].confirmationNumber }}
        </td>
        <td colspan="3" style="height: 16; border: 0"></td>
        <td colspan="6" style="height: 16; border: 0; text-align: center">
          {{ alliance.createdAt | date: 'shortDate' }}
        </td>
        <td colspan="3" style="height: 16; border: 0"></td>
      </tr>
      <tr>
        <td colspan="3" style="height: 16; border-right: 0; border: 0"></td>
        <td
          colspan="8"
          style="
            height: 16;
            text-align: center;
            font-weight: bold;
            border-bottom: 0;
            border-right: 0;
            border-left: 0;
          "
        >
          Firma del Suscriptor
        </td>
        <td colspan="3" style="height: 16; border: 0"></td>
        <td
          colspan="6"
          rowspan="2"
          style="
            height: 16;
            text-align: center;
            font-weight: bold;
            border-right: 0;
            border-left: 0;
            border-bottom: 0;
          "
        >
          Fecha<br />Mes/Día/Año
        </td>
        <td colspan="3" style="height: 16; border: 0"></td>
      </tr>
      <tr>
        <td colspan="23" style="border: 0">&nbsp;</td>
      </tr>
      <tr>
        <td
          colspan="23"
          style="font-weight: bold; border: 0; padding-left: 4px"
        >
          Nombre y firma del representante autorizado:&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_________________________________________________________________________________________________
        </td>
      </tr>
      <tr>
        <td colspan="23" style="border: 0">&nbsp;</td>
      </tr>
    </table>
  </div>
  <div class="col-12">
    <table style="width: 100%">
      <tr>
        <td width="190" style="font-weight: bold">Original - Blanca - PSM</td>
        <td width="200" style="padding-left: 4px; font-weight: bold">
          1ra. Copia-Verde-Agencia
        </td>
        <td width="135" style="text-align: right; font-weight: bold">
          2da. Copia - Amarilla - Suscriptor
        </td>
      </tr>
      <tr>
        <td width="190" style="font-weight: bold">&nbsp;</td>
        <td width="200" style="padding-left: 4px; font-weight: bold">&nbsp;</td>
        <td width="135" style="text-align: right; font-weight: bold">&nbsp;</td>
      </tr>
      <tr>
        <td width="190" style="font-weight: bold">PSMG001-A</td>
        <td width="200" style="padding-left: 4px; font-weight: bold"></td>
        <td width="135" style="text-align: right; font-weight: bold">
          REV.03/2019
        </td>
      </tr>
    </table>
  </div>
  <div>
    <div class="row">
      <h3 style="margin: auto">Instrucciones</h3>
    </div>
    <div class="row">
      <div class="col-12 black-instructions">
        <ol>
          <li>
            Lea el folleto que aplique a la cubierta. Todas las secciones
            sombreadas en color gris son para el uso exclusivo del Plan.
          </li>
          <li>
            Escriba la información provista sobre la cubierta contratada con
            bolígrafo en letra de molde no use lápiz. Escriba de manera legible.
            Complete todos los encasillados que le apliquen.
            <strong>No Haga tachaduras ni borrones.</strong> Conserve copia con
            fecha de entrega.
          </li>
          <li>
            <strong class="bg-green text-white">Solicitud de ingreso:</strong>
            Marque con una <strong>x</strong> si es un
            <strong><u>ingreso nuevo</u></strong> o
            <strong><u>renovación.</u></strong> De ser
            <strong>mancomunado,</strong> marcar el encasillado con una
            <strong>x</strong> y a su vez marcar si es
            <strong>ingreso nuevo</strong> o <strong>renovación.</strong>
          </li>
          <li>
            <strong class="bg-green text-white"
              >Nombre del Suscriptor Principal y Número de Seguro
              Social:</strong
            >
            El Suscriptor principal debe escribir su
            <strong
              ><u
                >nombre y número de seguro social tal y como aparece en su
                cheque de nómina.</u
              ></strong
            >
            Escriba <strong><u>toda</u></strong> la información personal
            solicitada.
          </li>
          <li>
            <strong class="bg-green text-white">Patrono:</strong> Escriba la
            información sobre la agencia o municipio donde usted trabaja, fecha
            de empleo e indique con una <strong> X</strong> los encasillados que
            apliquen.
            <ul>
              <li>
                Transitorios con contratos de menos de seis meses no tienen
                drecho a la aportación patronal, pero sí a suscribirse en el
                plan
              </li>
              <li>
                Empleados en licencia sin sueldo deberán notificar la fecha en
                que comenzaron dicha licencia.
              </li>
            </ul>
          </li>
          <li>
            <strong class="bg-green text-white">Plan:</strong> Marque con una
            <strong>X</strong> el tipo de plan: Individual, Pareja, Familiar o
            Complementario. Marque con una <strong>X</strong> si añades alguna
            cubierta adicional, si aplica.
            <ul>
              <li>
                Todo pensionado con las partes A y/o B Medicare tiene que
                incluir copia de la tarjeta de Medicare.
              </li>
            </ul>
          </li>
          <li>
            <strong class="bg-green text-white">Plan Mancomunado:</strong>
            Si aplica Incluya la información de su cónyugue o cohabitante sólo
            si trabaja en una agencia o municipio de gobierno y reciba
            aportación patronal. Si es cohabitante debe incluir el documento de
            elegibilidad que provea el patrono Modelo SC 1335.
          </li>
          <li>
            <strong class="bg-green text-white">*Dependientes Directos:</strong>
            Cónyuge o cohabitante, hijas, hijos, hijastras o hijastros no
            emancipados, hasta que alcancen la edad de veintiséis 26 años a
            menos que estos estén incapacitados presentar evidencia.
            Dependientes directos de un abuelo, abuela o miembro de la familia
            que sea el principal tenedor del plan de salud hasta qeu alcancen la
            edad de veintiséis 26 años a menos que estos esten incapacitados
            presentar evidencia. Incluya la informacion de sus dependientes
            directos.
            <ul>
              <li>
                La primera línea esta reservada para la información del cónyuge
                o cohabitante. Si no tiene cónyuge o cohabitante y tiene otros
                dependientes directos ej. hijos escriba la información de estos
                empezando con el mayor y terminando con el menor de edad.
              </li>
            </ul>
          </li>
          <li>
            <strong class="bg-green text-white"
              >*Dependientes Opcionales:</strong
            >
            Denomina al familiar inmediato del suscriptor principal o de su
            cónyuge, que no cualifica como dependiente directo, que depende
            sustancialmente de dicho empleado para su sustento y que no haya
            alcanzado la edad de sesenta y cinco 65 años. Incluya la información
            de sus dependientes opcionales en el mismo formato de los
            dependientes directos:
            <ul>
              <li>
                Si incluye a un <strong>dependiente opcional</strong> con las
                partes A y B de Medicare, tiene que incluir copia de la tarjeta
                de Medicare.
              </li>
              <li>
                Es importante que a los dependientes opcionales que se acojan a
                la cubierta de Medicare incluyan la dirección postal de cada
                dependiente.
              </li>
              <li>
                La cubierta del dependiente opcional será igual a la del
                Suscriptor Principal, excepto en Medicare.
              </li>
            </ul>
          </li>
          <li>
            <strong class="bg-green text-white">Cómputo de la Prima:</strong>
            Favor de verificar que en el cómputo de la prima esté incluido todas
            las cubiertas solicitadas y dependientes opcionales. Verificar que
            esté correcto antes de firmar la solicitud.
          </li>
          <li>
            Verificar que esté firmada por el representante autorizado por PSM.
          </li>
          <li>
            <strong><u>Firme</u></strong> la solicitud y escriba la
            <strong><u>fecha en que se entregó la solicitud</u></strong>
          </li>
          <li>
            Asegurese que la información suministrada esté correcta y completa,
            la falta de información solicitada puede ocasionar que la solicitud
            no sea procesada hasta que provea la información requerida.
          </li>
          <li>
            Retenga la última hoja de la solicitud con el acuse de recibo del
            plan. El original deberé ser entregado al Plan y copia a la agencia
            o municipio.
          </li>
          <li>
            En el caso de que el pago de la prima contratada por el suscriptor
            principal se vea afectada, éste será responsable del pago de la
            misma.<br />
            <strong
              >*Hacer referencia al artículo 3 del Reglamento #8398, 31 de
              octubre de 2013 Reglamento para la contratación de los planes de
              beneficios de salud para los empleados públicos.</strong
            >
          </li>
        </ol>
      </div>
      <div class="row">
        <h3 style="margin: auto">Ley Antifraude</h3>
      </div>
      <div class="row">
        <div class="col-12 black-instructions fraude-font">
          <p>
            Cualquier persona que a sabiendas presente información falsa en una
            solicitud de seguro o, que presentare, ayudare o hiciere presentar
            una reclamación fraudulenta para el pago de una pérdida u otro
            beneficio, o presentare más de una reclamación por mo daño o
            pérdida, incurrirá en delito grave y convicto que fuere, será
            sancionado con pena de multa no menor de cinco mil $5,000 dólares,
            ni mayor de diez mil $10,000 dólares, o pena de reclusión por un
            término fijo de tres 3 años, o ambas penas. De mediar circunstancias
            agravantes, la pena fija establecida podrá ser aumentada hasta un
            máximo de cinco 5 años; de mediar circunstancias atenuantes, podrá
            ser reducida hasta un mínimo de dos 2 años. El incumplimiento de las
            disposiciones de este Artículo conllevará la imposición de una multa
            administrativa que no será menor de mil $1,000 dólares ni mayor de
            cinco mil $5,000 dólares.
          </p>
          <p>
            La no inclusión de este aviso con los formularios indicados no
            constituirá defensas para que el asegurado o tercero reclamante no
            cumpla con las disposiciones de este Capítulo. Artículo 27.320 del
            Código de Seguros de Puerto Rico, 26 L.P.R.A. sec. 2732, según
            enmendado el 8 de enero de 2004.
          </p>
          <p>
            Por la presente solicito del Plan cubierta de beneficios para mí y
            mis dependientes, si alguno. Entiendo que esta solicitud está sujeta
            a la aceptación del Plan y que los servicios provistos están sujetos
            a los beneficios, limitaciones y exclusiones conforme lo establece
            el contrato de cubierta. Certifico que he recibido copia de la Ley o
            resumen de los derechos y responsabilidades del paciente, según lo
            establece la Ley 194 "Carta de Derechos del Paciente". Certifico que
            la informacion en esta solicitud es correcta y autorizo al Plan a
            verificar la misma. Autorizo al Plan a ofrecer información sobre la
            elegibilidad y cubiertas al área de Administración de Seguros de
            Salud de Puerto Rico.
          </p>
          <p>
            Autorizo al Plan a obtener de proveedores de servicio la información
            médica relacionada conmigo y con mis dependientes que sea necesaria
            para la administración del Plan.
          </p>
          <p>
            Autorizo a mi patrono a deducir de mi sueldo y enviar al Plan la
            cantidad necesaria para el pago de mi plan médico.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
