<md-content layout-margin layout-padding>
  <!-- <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" *ngIf="editAccess">
      {{ actionName | translate }}
    </button>
  </div> -->
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-header>
        <mat-card-title
          >{{ 'COMMUNICATION_METHOD.PAGE_TITLE' | translate }}
          <caption *ngIf="dependantId != '0'">
            <small> #{{ dependantId }} </small>
          </caption>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content fxLayout="column" fxLayoutGap="5" class="full-width">
        <div fxLayout="row" fxLayoutGap="5px">
          <mat-form-field>
            <mat-label>{{ 'DEPENDANT.NAME' | translate }}</mat-label>
            <input formControlName="name" matInput #inputName />
          </mat-form-field>
          <mat-form-field style="width: 50px;">
            <mat-label>{{ 'DEPENDANT.INITIAL' | translate }}</mat-label>
            <input formControlName="initial" matInput />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'DEPENDANT.LASTNAME1' | translate }}</mat-label>
            <input formControlName="lastname1" matInput />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'DEPENDANT.LASTNAME2' | translate }}</mat-label>
            <input formControlName="lastname2" matInput />
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="5px">
          <mat-form-field>
            <mat-label>{{ 'DEPENDANT.NAME' | translate }}</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="birthDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'DEPENDANT.SSN' | translate }}</mat-label>
            <input formControlName="ssn" matInput />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'DEPENDANT.EMAIL' | translate }}</mat-label>
            <input formControlName="email" matInput />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'DEPENDANT.GENRE' | translate }}</mat-label>
            <mat-select formControlName="genre">
              <mat-option>{{ 'DEPENDANT.MALE' }}</mat-option>
              <mat-option>{{ 'DEPENDANT.FEMINE' }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="5px">
          <mat-form-field>
            <mat-label>{{ 'DEPENDANT.NAME' | translate }}</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="birthDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'DEPENDANT.SSN' | translate }}</mat-label>
            <input formControlName="ssn" matInput />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'DEPENDANT.EMAIL' | translate }}</mat-label>
            <input formControlName="email" matInput />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'DEPENDANT.GENRE' | translate }}</mat-label>
            <mat-select formControlName="genre">
              <mat-option>{{ 'DEPENDANT.MALE' }}</mat-option>
              <mat-option>{{ 'DEPENDANT.FEMINE' }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <!-- *ngIf="(id && editAccess) || (!id && createAccess)" -->

        <button mat-stroked-button type="button" (click)="onBack()">
          <mat-icon>list</mat-icon>{{ 'BACK' | translate }}
        </button>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="!reactiveForm.valid"
        >
          {{ 'SAVE' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</md-content>
<div class="loading-indicator" [hidden]="!loading">
  <mat-progress-spinner [mode]="'indeterminate'"> </mat-progress-spinner>
</div>
