<form class="form" #form="ngForm" [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
  <md-content layout-margin layout-padding flex="50">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ 'CHANGE_PASSWORD.TITLE' | translate }}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <mat-form-field *ngIf="!user.isChgPwd" class="full-width">
          <mat-label>{{ 'CHANGE_PASSWORD.OLD_PASSWORD' | translate }}</mat-label>
          <input matInput formControlName="password" type="password">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>{{ 'CHANGE_PASSWORD.NEW_PASSWORD' | translate }}</mat-label>
          <input matInput formControlName="newPassword" type="password">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>{{ 'CHANGE_PASSWORD.NEW_PASSWORD_CONFIRM' | translate }}</mat-label>
          <input matInput formControlName="confirmNewPassword" type="password">
        </mat-form-field>

        <p class="password-policy">
          {{ 'PASSWORD_POLICY' | translate }}
        </p>

      </mat-card-content>
      <mat-card-actions>

        <button mat-raised-button color="primary" type="submit" [disabled]="!reactiveForm.valid">
          <mat-icon>save</mat-icon>{{ 'SAVE_BTN' | translate }}
        </button>

      </mat-card-actions>
    </mat-card>
  </md-content>
</form>

<div class="loading-indicator" [hidden]="!loading">
  <mat-progress-spinner [mode]="'indeterminate'">
  </mat-progress-spinner>
</div>
