.full-width{
    width: 100%;
}

.mat-card-header-text, mat-card-header {
    text-align: center !important;
}


.element-detail {
  overflow: hidden;
  display: flex;
  margin-bottom: 6px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

.element-diagram {
  min-width: 80px;
  /* border: 2px solid black; */
  padding: 8px;
  font-weight: lighter;
  margin: 8px;
  height: 130px;
}