<mat-horizontal-stepper
  [linear]="true"
  #stepper
  *ngIf="affiliationMethod && benefits"
>
  <mat-step [stepControl]="affiliationMethod">
    <form [formGroup]="affiliationMethod">
      <ng-template matStepLabel>{{
        'ALLIANCEWIZARD.AFFILIATIONMETHODS' | translate
      }}</ng-template>
      <div
        class="top-margin-10 full-height"
        fxLayout="column"
        fxLayoutAlign="center"
      >
        <mat-radio-group
          aria-label="Select an option"
          [formControl]="affiliationMethod.get('affiliationMethod')"
        >
          <mat-radio-button value="1">{{
            'ALLIANCEWIZARD.QUALIFYINGEVENT' | translate
          }}</mat-radio-button>
          <mat-radio-button value="2">{{
            'ALLIANCEWIZARD.RENOVATIONAFILIATION' | translate
          }}</mat-radio-button>
        </mat-radio-group>
        <mat-form-field>
          <mat-label>{{
            'ALLIANCEWIZARD.QUALIFYINGEVENT' | translate
          }}</mat-label>
          <mat-select [formControl]="affiliationMethod.get('qualifyingEvent')">
            <mat-option *ngFor="let qfe of qualifyingEvents" [value]="qfe.id">
              {{ qfe.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button
        class="button-space"
        mat-raised-button
        color="primary"
        matStepperNext
      >
        {{ 'NEXT' | translate }}
      </button>
    </form>
  </mat-step>
  <mat-step [stepControl]="benefits">
    <form [formGroup]="benefits">
      <div
        fxLayout
        fxLayoutAlign="center"
        fxLayout.lt-md="column"
        fxLayoutGap="10px"
      >
        <mat-form-field fxFlex>
          <mat-label>{{ 'ALLIANCEWIZARD.HEALTHPLAN' | translate }}</mat-label>
          <mat-select [formControl]="benefits.get('MedicalPlan')">
            <mat-option *ngFor="let qfe of qualifyingEvents" [value]="qfe.id">
              {{ qfe.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>{{ 'ALLIANCEWIZARD.BENEFITS' | translate }}</mat-label>
          <mat-select [formControl]="toppings" multiple> </mat-select>
        </mat-form-field>
      </div>
    </form>
    <button mat-raised-button color="primary" matStepperPrevious>
      {{ 'GOBACK' | translate }}
    </button>
    <button
      class="button-space"
      mat-raised-button
      color="primary"
      matStepperNext
    >
      {{ 'NEXT' | translate }}
    </button>
  </mat-step>
  <mat-step [stepControl]="finalFormGroup">
    <form
      [formGroup]="finalFormGroup"
      fxLayoutAlign="center"
      fxLayoutGap="10px"
      fxLayout.lt-md="column"
    >
      <mat-form-field fxFlex>
        <mat-label>{{ 'ALLIANCEWIZARD.EFFECTIVEDATE' | translate }}</mat-label>
        <input
          [matDatepicker]="effectiveDatePiker"
          matInput
          formControlName="effectiveDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="effectiveDatePiker"
        ></mat-datepicker-toggle>
        <mat-datepicker #effectiveDatePiker disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>{{ 'ALLIANCEWIZARD.ELEGBILITYDATE' | translate }}</mat-label>
        <input
          [matDatepicker]="eligibiliyDatePiker"
          matInput
          formControlName="eligibiliyDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="eligibiliyDatePiker"
        ></mat-datepicker-toggle>
        <mat-datepicker #eligibiliyDatePiker disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>{{
          'ALLIANCEWIZARD.INSCRIPTIONTYPE' | translate
        }}</mat-label>
        <mat-select formControlName="inscriptionType"> </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>{{
          'ALLIANCEWIZARD.INSCRIPTIONSTATUS' | translate
        }}</mat-label>
        <mat-select formControlName="inscriptionStatus"> </mat-select>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" matStepperPrevious>
      {{ 'GOBACK' | translate }}
    </button>
    <button mat-raised-button color="primary" matStepperNext>
      {{ 'FINISH' | translate }}
    </button>
  </mat-step>
</mat-horizontal-stepper>
